.mediv, .meimg{
  display: flex;
  justify-content: center;
}

.mediv{
  border: solid red;
  height: 200px;
  width: 200px;
  border-radius: 500px;
}

.meimg{
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

body{
  margin: 0;
}

nav{
  background-color: black;
  width: 100%vh;
  margin: 0;
}

.navbar {
  margin: 0;
}

li{
  display: inline;
  padding: 16px 12px;
}

a{
  color: white;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(237, 17, 17);
}