.nav-bar{
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

.nav-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.name{
  color: white;
  text-decoration: none;
  float: left;
  padding: 14px 16px;
  margin: 0;
}

.link{
  float: right;
}

.nav-item a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid white;
}

#borderless{
  border-right: none;
}

.nav-item a:hover{
  background-color: blueviolet;
  transition: .4s;  
}

.mediv{
  padding-top: 50px;
}

.mediv, .meimg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meimg{
  object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 30px;
}

.job-title{
  color: white;
  margin-top: 50px;
  text-shadow: 2px 4px 4px  aqua;
}

body{
  margin: 0;
}

.prof{
  list-style-type: none;
}

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card{
  background-color: grey;
  width: 270px;
  margin: 10px;
  border-radius: 15px;
}

.card-img{
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.img-1 {
  background-image: url('/img/dinner-with-death_360.png');
}

.img-2{
  background-image: url('/img/mealprep-topia_360.png');
}

.img-3{
  background-image: url('/img/wolf-collector_360.jpeg');
}

.card h2{
  padding: 10px;
}

.card p{
  padding: 10px;
}

.card a{
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
}

.card:hover{
  background-color: aqua;
  transition: .8s;
  transform: scale(1.05);
}

.head-style{
  background-image: url('/img/forest3_720.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}